.leaderboard-entry {
  background: #eee;
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.leaderboard-image {
  width: 80px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboard-image img {
  width: 75px;
}

.leaderboard-meta {
  text-align: left;
  display: flex;
}
