table {
  background: white;
  -webkit-box-shadow: 0px 0px 15px #b7cacc;
  box-shadow: 0px 0px 15px #b7cacc;
  color: #4c7a7f;
  text-align: center;
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
}
table thead {
  background: #ccc;
  font-size: 18px;
  font-weight: bold;
}
table tbody tr:nth-child(even) {
  background: #f3f6f6;
}
table tbody tr:hover {
  background: #def8fc;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
table tbody td {
  vertical-align: middle !important;
}
table tbody td:nth-child(2) {
  text-align: left;
}
table tbody img {
  margin: 0 10px;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}
